*.o
*.a
*.so
*.so.?
.*
*.lo
*.la
*.mkv
bc-reader
bc.cgi
*.user
*-build-*


lib/libcurl/config.log
lib/libcurl/docs/Makefile
lib/libcurl/docs/examples/Makefile
lib/libcurl/docs/libcurl/Makefile
lib/libcurl/include/Makefile
lib/libcurl/include/curl/Makefile
lib/libcurl/include/curl/curlbuild.h
lib/libcurl/include/curl/stamp-h3
lib/libcurl/lib/Makefile
lib/libcurl/lib/curl_config.h
lib/libcurl/lib/stamp-h1
lib/libcurl/packages/AIX/Makefile
lib/libcurl/packages/AIX/RPM/Makefile
lib/libcurl/packages/AIX/RPM/curl.spec
lib/libcurl/packages/EPM/Makefile
lib/libcurl/packages/EPM/curl.list
lib/libcurl/packages/Linux/Makefile
lib/libcurl/packages/Linux/RPM/Makefile
lib/libcurl/packages/Linux/RPM/curl-ssl.spec
lib/libcurl/packages/Linux/RPM/curl.spec
lib/libcurl/packages/Makefile
lib/libcurl/packages/Solaris/Makefile
lib/libcurl/packages/Win32/Makefile
lib/libcurl/packages/Win32/cygwin/Makefile
lib/libcurl/packages/vms/Makefile
lib/libcurl/src/Makefile
lib/libcurl/src/curl_config.h
lib/libcurl/src/stamp-h2
lib/libcurl/tests/Makefile
lib/libcurl/tests/data/Makefile
lib/libcurl/tests/libtest/Makefile
lib/libcurl/Makefile
lib/libcurl/config.status
lib/libcurl/libtool
lib/libcurl/tests/server/Makefile
lib/libcurl/curl-config
lib/libcurl/tests/configurehelp.pm

debian/bluecherry.debhelper.log
debian/bluecherry.postinst.debhelper
debian/bluecherry.postrm.debhelper
debian/bluecherry.preinst.debhelper
debian/bluecherry.prerm.debhelper
debian/bluecherry.substvars
debian/bluecherry/
debian/files
