[submodule "misc/libav"]
	path = misc/libav
	url = https://github.com/FFmpeg/FFmpeg.git
	branch = release/3.3
[submodule "misc/ponvif"]
	path = misc/ponvif
	url = https://github.com/ltoscano/ponvif
[submodule "misc/ponvif_ext"]
	path = misc/ponvif_ext
	url = https://github.com/bluecherrydvr/ponvif_ext.git
#[submodule "misc/pugixml"]
# path = misc/pugixml
# url = https://github.com/zeux/pugixml.git
[submodule "misc/libconfig"]
	path = misc/libconfig
	url = https://github.com/hyperrealm/libconfig.git
#[submodule "utils/onvif_tool"]
#	path = utils/onvif_tool
#	url = https://github.com/bluecherrydvr/onvif_tool.git
