*.o
*.a
*.lo
*.la
*.mkv
.c*

.deps
.libs/

bc-reader
bc.cgi
*.user
*-build-*
.gdbinit

/debian/*.log
/debian/*.debhelper
/debian/*.substvars
/debian/bluecherry/
/debian/bluecherry-dbg*
/debian/files

utils/onvif_tool

/stage/

.DS_Store
