*.o
*.a
*.so
*.so.?
.*
*.lo
*.la
*.mkv
bc-reader
bc.cgi
*.user
*-build-*

debian/bluecherry.debhelper.log
debian/bluecherry.postinst.debhelper
debian/bluecherry.postrm.debhelper
debian/bluecherry.preinst.debhelper
debian/bluecherry.prerm.debhelper
debian/bluecherry.substvars
debian/bluecherry/
debian/bluecherry-dbg*
debian/files

misc/libav/lib
misc/libav/bin
misc/libav/include
