[Unit]
Description="Bluecherry DVR Server"
After=network.target remote-fs.target nss-lookup.target mariadb.target

[Service]
Type=simple
#EnvironmentFile=/etc/sysconfig/httpd
ExecStart=/usr/sbin/bc-server -s -u bluecherry -g bluecherry
#ExecReload=/usr/sbin/httpd $OPTIONS -k graceful
ExecStop=/bin/kill -TERM ${MAINPID}
KillSignal=SIGKILL

[Install]
WantedBy=multi-user.target
Alias=bc-server.service
