Source: bluecherrydvr
Section: admin
Priority: optional
Maintainer: Ben Collins <bcollins@bluecherry.com>
Build-Depends: debhelper (>= 7), libsqlite3-dev, libmysqlclient-dev, libpq-dev,
 libavcodec-dev, libavformat-dev, libavutil-dev, sqlite3, php5-devm libqt4-dev,
 libphonon-dev, qt4-qmake
Standards-Version: 3.8.4

Package: bluecherrydvr
Architecture: any
Pre-Depends: sqlite3
Depends: ${shlibs:Depends}
Suggests: solo6010-dkms
Description: Bluecherry DVR Server
 This package contains the server components for the Bluecherry DVR system.
