Source: bluecherry
Section: admin
Priority: optional
Maintainer: Bluecherry <maintainers@bluecherrydvr.com>
Build-Depends: debhelper (>= 7),
 libidn11-dev, libbsd-dev, yasm, libudev-dev, libopencv-dev,
 libva-dev
Standards-Version: 3.8.4

Package: bluecherry
Architecture: any
Pre-Depends: adduser
Depends: ${shlibs:Depends}, ssl-cert, ucf, curl, sysstat,
 mkvtoolnix, php-mail, php-mail-mime, php-net-smtp, sqlite3, nmap,
 nginx,
 php-fpm,
 php-mysql,
 php-sqlite3,
 v4l-utils,
 vainfo,
 i965-va-driver,
 python3-pip,
 php7.4-fpm, php7.4-sqlite3, php7.4-curl, php7.4-mysql, php7.4-gd

Recommends: mysql-server
Suggests: monit, mail-transport-agent
Conflicts: solo6010-dkms
Replaces: solo6010-dkms
Description: Bluecherry DVR Server
 This package contains the server components for the Bluecherry DVR system.

Package: bluecherry-dbg
Architecture: any
Section: debug
Priority: extra
Depends: bluecherry (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for Bluecherry DVR Server

