[Unit]
Description=Bluecherry ONVIF Service
After=network.target

[Service]
Type=simple
User=bluecherry
Group=bluecherry
WorkingDirectory=/usr/share/bluecherry/onvif-service
ExecStart=/usr/bin/npm run start:prod
Restart=always
RestartSec=10
TimeoutStartSec=30
Environment=NODE_ENV=production
Environment=PORT=4000

[Install]
WantedBy=multi-user.target 