#!/usr/bin/make -f

export CXXFLAGS += -std=c++14
export CFLAGS += -std=c++14
export DEB_CXXFLAGS_MAINT_APPEND = -std=c++14

include /usr/share/dpkg/default.mk

VERSION := $(shell dpkg-parsechangelog | sed '/^Version:/!d;s/^[^ ]* //')
DB_VERSION := $(shell cat misc/sql/installed_db_version)

LD_LIBRARY_PATH+=:stage/lib
RELEASE_NAME := $(shell ./scripts/build_helper/get_distro_release_name.sh)

%:
	dh $@

.PHONY: override_dh_strip debian/control

override_dh_strip:
	dh_strip --dbg-package=bluecherry-dbg

# Add support for systemd

override_dh_installsystemd:
	dh_installsystemd --name=bluecherry


override_dh_installlogrotate:
	dh_installlogrotate

# all things common for deb and rpm make in scripts like post_make_install.sh
# and call it from deb and rpm packages
override_dh_auto_install:
	dh_auto_install --destdir=debian/bluecherry
	scripts/build_helper/post_make_install.sh deb ./ debian/bluecherry "$(VERSION)"

override_dh_installdeb:
	echo "#!/bin/bash -e" > debian/bluecherry.preinst
	cat misc/sql/load_db_creds.sh >> debian/bluecherry.preinst
	sed \
		-e "s/%%CURRENT_VERSION%%/${VERSION}/" \
		-e "s/%%CURRENT_DB_VERSION%%/${DB_VERSION}/" \
		debian/bluecherry.preinst.template >> debian/bluecherry.preinst
	dh_installdeb
	-rm ${CURDIR}/debian/bluecherry/DEBIAN/conffiles

debian/control: debian/control.in debian/rules debian/changelog
	sed -e 's/^#$(RELEASE_NAME)//' debian/control.in | grep -v '^#' > debian/control

override_dh_shlibdeps:
	echo "override_dh_shlibdeps: PWD is $(shell readlink -f . )"
	dh_shlibdeps -l$(shell readlink -f .)/debian/bluecherry/usr/lib/bluecherry/

override_dh_usrlocal:
	true
