#!/usr/bin/make -f

VERSION := $(shell dpkg-parsechangelog | sed '/^Version:/!d;s/^[^ ]* //')

LD_LIBRARY_PATH+=:stage/lib

%:
	dh --parallel $@

.PHONY: override_dh_strip

override_dh_strip:
	dh_strip --dbg-package=bluecherry-dbg

override_dh_installinit: sbin-start=$(wildcard /sbin/start)
override_dh_installinit:
	dh_installinit $(if $(sbin-start),--name=bluecherry)

override_dh_installlogrotate:
	if ! id syslog > /dev/null 2>&1; then \
		sed -i -e 's/640 syslog/640 root/' debian/bluecherry.logrotate; \
	fi
	dh_installlogrotate

override_dh_auto_install:
	dh_auto_install --destdir=debian/bluecherry
	cat misc/sql/mysql/*.sql > \
	    debian/bluecherry/usr/share/dbconfig-common/data/bluecherry/install/mysql
	cp misc/sql/mysql-upgrade/* \
	    debian/bluecherry/usr/share/dbconfig-common/data/bluecherry/upgrade/mysql/
	install -m640 -D debian/bluecherry.conf.in \
		debian/bluecherry/usr/share/bluecherry/bluecherry.conf.in
	install -m644 -D debian/apache.conf \
		debian/bluecherry/etc/apache2/sites-available/bluecherry
	install -m644 debian/bluecherry.monit \
		debian/bluecherry/etc/monit/conf.d/bluecherry
	cp -a www/* debian/bluecherry/usr/share/bluecherry/www
	echo "$(VERSION)" > debian/bluecherry/usr/share/bluecherry/version
