/*DVR Web End Style Sheet*/

/*global*/
html, body, ul, ol, li, form, fieldset, legend { margin: 0; padding: 0; }
body		{ margin:0px; padding:10px; }
body, h1 	{ font-family: "Times New Roman", Georgia, Serif; }
a			{ color:#5072af; margin:0px;}
a:hover		{ color:#30528f; }
a:visited	{ color:#5072af; }
p { 
	font-size:0.8em; 
	color:#aaa; 
	padding-bottom:0px; 
	margin:3px 3px 10px 3px; 
	padding-bottom:5px;
	border-bottom:1px solid #ddd; 
}
h1.header, h1#header  	{ font-size:1.2em; color:#333; margin:3px 3px 0px 3px; font-weight:bold;}
.bClear		{ clear:both; float:none !important; margin:0px !important; height:0px !important; width:0px !important; }

#leftColumn #logo { background: url("/img/logo.png") no-repeat center center; height:90px; }

/*messages*/
#ajaxMessage, #message			  	{ 
	width:90% !important; 
	padding:5px; 
	font-size:1em; 
	margin:10px !important; 
	position:relative; 
	float:left !important; 
	display:inline !important; 
	padding-left:35px; 
}
#ajaxMessage.INFO, #message.INFO 	{ padding-left:35px; width:90%; border:1px dashed #990; background-image:url("/img/icons/excl.png"); background-position:5px center; background-color:#ffc; background-repeat: no-repeat; }
#message.ipCamInfo					{ z-index:10; position:absolute; right:0px; top:30px; display:none; width:75%; border:1px dashed #990; background-image:url("/img/icons/excl.png"); background-position:5px center; background-color:#ffc; background-repeat: no-repeat; }
#ajaxMessage.F, #message.F   		{ padding-left:35px; border:1px dashed #933; background-image:url("/img/icons/cross.png"); background-position:5px center; background-color:#fee; background-repeat: no-repeat; }
#ajaxMessage.OK, #message.OK	 	{ padding-left:35px; border:1px dashed #393; background-image:url("/img/icons/check.png"); background-position:5px center;  background-color:#efe; background-repeat: no-repeat; }

#sysMessages #message			{ padding-left:35px; width:150px !important; margin:10px 5px 0 5px !important; }
#sysMessages #message.F			{ background-image:url("/img/icons/excl.png"); }
#sysMessages #snr, #sysMessages #sr, #sysMessages #ncn, #sysMessages #ftw { display:none; }
#dismissDefaultPasswordWarning { float:right; }

/*login*/
#login-window-container  	 { margin:30px 0 20px 0; width:100%; height:100%; text-align:center; vertical-align:middle; z-index:9; position:absolute; top:0; left:0; }
#login-window				 { border:1px dotted #aaa; width:500px; z-index:10; vertical-align:middle; text-align:center; position:absolute; top:100px; left:50%; margin-left:-250px; color:#aaa; font-weight:bold; border-radius:5px; }
#login-window input 		 { width:70%; height:30px; margin:5px 5px 5px 5px; color:#2A2A2A; font-size:1em; text-align:center; vertical-align:middle; }
#login-window #login-button  { background:#d5d7ef; color:#333; cursor:pointer; height:30px; width:70%; margin-top:15px; }
#login-window #cancel-button { background:#efd5d5; color:#333; cursor:pointer; height:30px; width:20%; }
#login-message				 { margin:5px; padding:5px; border:1px dotted red;  opacity:0; filter:alpha(opacity = 0); width:90%; background-color:#f99; color:#000; }

/*forms*/
#settingsForm div 							{ 
	display:block; 
	float:left; 
	padding:5px 0 5px 0; 
}
#settingsForm div.container-separator		{ padding:10px; }
#settingsForm #saveButton, #saveButton { 
	padding:5px; 
	margin-bottom:10px; 
	display:block; 
	float:right; 
	width:100px; 
	padding-left:30px; 
	line-height:20px; 
	background:url("/img/icons/check.png") no-repeat; 
	background-position:5px; 
	border:1px solid #595; border-radius:5px;
	background-color: #efe;
}
#button								{ 
	margin-bottom:10px; 
	display:block; 
	float:right !important; 
	width:100px; 
	padding-left:30px; 
	line-height:25px; 
	height:25px; 
	background-repeat: no-repeat; 
	background-position:5px; 
	border-radius: 5px; 
}
#button.add, #button.addEmail, #button.addExt	{ 
	float:left; 
	border:1px solid #595; 
	background-color: #efe; 
	background-image:url("/img/icons/plus.png"); 
}
#button.addExt									{ width:250px; }
#button.add:hover, #button.addExt:hover			{ cursor:pointer; background-color: #ded; }
#addEmail							{ float:left; width:auto; padding-right:10px; cursor:pointer; border:1px solid #595; background-color: #efe; background-image:url("/img/icons/plus.png"); margin:0 0 10px 200px; display:block; width:100px; padding-left:30px; line-height:25px; height:25px; background-repeat: no-repeat; background-position:5px;  -moz-border-radius: 5px; -webkit-border-radius: 5px;  }
#addEmail:hover { background-color:#8b8; }
#button.save						{ float:right; border:1px solid #595; background-color: #efe; background-image:url("/img/icons/check.png"); }

.notification-control-buttons {
	width:80px;
	float:right; 
}
.notification-control-buttons div, .license div {
	margin-bottom:10px; display:block; width:100px; padding-left:30px; line-height:25px; height:25px; background-repeat: no-repeat; background-position:5px;  border-radius: 5px;
	width:50px;
	margin-left:5px;
	cursor:pointer;
}
.license div {
	margin:3px 0 3px 10px;
}
.delete-button {
	border:1px solid #955; 
	background-color: #fee; 
	background-image:url("/img/icons/cross.png");

}
.edit-button {
	border:1px solid #559; 
	background-color: #eef; 
	background-image:url("/img/icons/menu/edit.png");
}
.enable-button {
	border:1px solid #595; 
	background-color: #efe; 
	background-image:url("/img/icons/excl.png");
	opacity:1;
	z-index:99900;
}

.delete-button:hover { 
	background-color: #eaa;
}
.edit-button:hover {
	background-color: #aae;
}
.enable-button:hover {
	background-color: #aea;
}
#button.deleteShort	{ 
	width:50px; 
	border:1px solid #955; 
	background-color: #fee; 
	background-image:url("/img/icons/cross.png"); 
}
#button.showHideImg					{ float:right; border:1px solid #599; background-color: #eff; width:120px; cursor:pointer; padding-left: 5px; margin-top:10px; }
#settingsForm #editAccessList		{ width:230px; padding:5px 5px 5px 35px; margin-left:10px; display:block; float:left; width:100px; line-height:20px; background:url("/img/icons/device.png") no-repeat; background-position:5px; border:1px solid #559; background-color: #eef; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#settingsForm #deleteButton			{ float:left; margin-bottom:10px; display:block; margin-left:10px; width:100px; padding-left:30px; line-height:20px; background:url("/img/icons/cross.png") no-repeat; background-position:3px; border:1px solid #955; background-color: #fee; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#deleteButton						{ float:left; margin-bottom:10px; display:block; margin-left:10px; width:100px; padding-left:30px; line-height:20px; background:url("/img/icons/cross.png") no-repeat; background-position:3px; border:1px solid #955; background-color: #fee; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#settingsForm label					{ display:block; font-weight:bold; text-align:right; width:140px; float:left; }
#settingsForm label.second			{ width:50px; }
#settingsForm .sub					{ color:#666; display:block; font-size:0.8em; text-align:right; width:140px; }
#settingsForm input 				{ float:left; font-size:1em; padding:4px 2px; border:solid 1px #aacfe4; width:350px; margin:2px 20px 10px; }

#settingsForm input.limit			{ width:70px; }
#settingsForm input:focus 			{ border:solid 1px #e3452b; }
#settingsForm input[readonly]		{ background:#ccc; color:#333; }
#settingsForm select				{ float:left; font-size:1em; padding:4px 2px; border:solid 1px #aacfe4; margin-left:20px; }
#settingsForm textarea				{ font-size:1em; padding:4px 2px; border:solid 1px #aacfe4; width:350px; height:200px; margin:2px 20px 10px; }
#emails .bClear 					{ border:none; }

/*iframes*/
#ipCameraFrame						{ width:100%; height:100%; }

/*access denied according to schedule*/
#dschedule-window { padding:20px; border:1px dotted red; background-color:#fcc; width:600px; z-index:10; vertical-align:middle; text-align:center; position:absolute; top:100px; left:50%; margin:30px 0 0 -300px; }
#dschedule-window-header { color:#933; font-weight:bold; font-size:1.2em; margin-bottom:20px; }

/*left column*/
#leftColumn   { padding:20px 0 20px 20px; width:200px; float:left; }
#centerColumn { padding:20px 0 20px 5px; float:left; position:relative; width:655px; }

/*main page-space*/
#pageContainer { position:relative; border:1px solid #ddd; width:620px; height:auto; display:block; float:left; -moz-border-radius: 5px; -webkit-border-radius: 5px;  margin-left:5px; padding:10px; }
#pageContainerLoadingOverlay { background:url("/img/loading.gif") no-repeat; background-position:right 0px; text-align:center; z-index:5; position:absolute; float:left; top:0; left:0; width:100%; height: 100%; opacity:0.7; filter:alpha(opacity=70); background-color:#fff; border-radius: 5px; }

/*admin menu*/
#mainMenu { border:1px solid gray; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:10px 0 10px 0;}
#menuButtons { margin:0px; padding:0px; list-style-type:none; }
#menuButtons hr { color:#bbb; height:1px; display:block; margin: 3px 0 3px 0; width:100%; }
#menuButtons li { margin: 0 5px 0 5px; padding:2px; font-size:18px; display:block; margin-top:5px; position:relative; height: 27px; width: 150px; line-height:1.5em; vertical-align:middle; padding-left:35px; border-radius: 2px; }
#menuButtons p { vertical-align:middle; }
#menuButtons li { background-repeat: no-repeat; background-position:2px center; }
#menuButtons .news			  { background-image:url("/img/icons/news.png");   }
#menuButtons .settingsUsers   { background-image:url("/img/icons/users.png"); }
#menuButtons .settingsStorage { background-image:url("/img/icons/storage.png");  }
#menuButtons .settingsGeneral { background-image:url("/img/icons/general.png");  }
#menuButtons .viewLog 		  { background-image:url("/img/icons/log.png"); }
#menuButtons .eventStatistics { background-image:url("/img/icons/statistics.png"); }
#menuButtons .devices 		  { background-image:url("/img/icons/device.png"); }
#menuButtons .globalschedule  { background-image:url("/img/icons/schedule.png"); }
#menuButtons .liveView		  { background-image:url("/img/icons/liveview.png"); }
#menuButtons .activeUsers	  { background-image:url("/img/icons/activeusers.png"); }
#menuButtons .notifications	  { background-image:url("/img/icons/notifications.png"); }
#menuButtons .backup		  { background-image:url("/img/icons/backup.png"); }
#menuButtons .licensing		  { background-image:url("/img/icons/licensing.png"); }
#menuButtons .downloadClient  { background-image:url("/img/icons/client.png"); font-size:14px; line-height:27px; vertical-align:middle; }



/*message div*/
#messageDiv { width:90%; padding:5px; font-size:1em; margin:10px; position:relative; float:left; display:inline; padding-left:35px; }
#messageDiv.yellow { border:1px dashed #ff0; background-image:url("/img/icons/excl.png"); background-position:5px center; background-color:#ffc; background-repeat: no-repeat; }
#messageDiv.red    { border:1px dashed #933; background-image:url("/img/icons/cross.png"); background-position:5px center; background-color:#fee; background-repeat: no-repeat; }
#messageDiv.green  { border:1px dashed #393; background-image:url("/img/icons/check.png"); background-position:5px center;  background-color:#efe; background-repeat: no-repeat; }

/*server stats styles*/
#serverStats { padding-top:3px; width:100%; margin-top:20px; display:none; border:1px solid gray; background:#fefefe;  padding-top:5px; text-align:center; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#serverStats div.label 	{ font-size:1em;  color:#666; margin-top:15px; }
second
#serverStats #meminfo	{ margin-top:0px; font-size:0.8em; }
#serverStats .progressBar { background:url('/img/pbar-green.png'); margin:3px 0 0 50px; width:100px; height:13px; border:1px #ccc solid; position:relative; display:block;  text-align:center; z-index:1;}
#serverStats .progressBar div.text{ float:left; position:absolute; width:100%; font-size:10px; top:0px; left:0px; z-index:2; font-weight:bold; }

/*loading failed*/
#onLoadFailureContainer 			{ visibility:hidden; }
#onLoadFailure 						{ width:600px; display:block; }
#onLoadFailure h1 					{ font-size:1.2em; color:#777; margin:3px; font-weight:bold; border-bottom:solid 1px #97bdd2; }
#onLoadFailure p  					{ font-size:1em; color:#000; }

/*users page styles*/
#user-table					{ width:600px; display: block; }
#user-table table			{ border-collapse:collapse; width:100%; }
#user-table th				{ text-align:left; padding:2px; }
#user-table td				{ border:1px solid #eee; padding:2px; cursor:pointer; }
#user-table tr.low:hover, #user-table tr.high:hover		{ background-color:#ff8c00; }
#user-table td.edit 		{ border:0px; background-color:#fff; padding-left:5px; }
#user-table tr.low			{ background-color:#eee; }
#newUser				 	{ float:right; margin-bottom:10px; width:130px; padding-left:30px; height:30px; line-height:30px; background:url("/img/icons/users_new.png") no-repeat; background-position:left; border:1px solid #595; background-color: #efe; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#user-table .deleteUser 	{ background-image:url("/img/icons/cross.png"); background-position: center center; background-repeat:no-repeat; width:20px; }

#emails input { margin:2px 5px 0 20px; }
#emails #button.deleteShort { 
	width:30px; 
	height:30px; 
	margin:0px; 
	padding:0px; 
	background-position:center center; 
	cursor:pointer; 
}
#emails #button.deleteShort:hover { background-color:#faa; }

/*active (connected) users*/
#active-user-table {
	border-collapse:collapse;
}
#active-user-table tr.low			{ background-color:#eee; }

#active-user-table tr td {
    border: 1px solid #EEEEEE;
    cursor: pointer;
    padding: 2px;
}
#active-user-table td.kick			{ background-color:#ffd1a4; padding:3px; }
#active-user-table td.kick:hover	{ background-color:#ff8000; cursor:pointer; }
#active-user-table td.kicked		{ background-color:#ff8000; }
#active-user-table td.ban 			{ background-color:#ff9191; padding:3px; }
#active-user-table td.ban:hover 	{ background-color:#ff5555; cursor:pointer; }

/*news*/
#dvrNews { width:auto; }
#dvrNews a { 
	text-decoration:none; 
	border-bottom: 1px dotted #700; 
}
#dvrNews .news-entry {
	margin-bottom:15px;
	background-color:#f9f9f9;
	border-bottom:1px solid #f0f0f0;
	border-radius:3px;
	padding:5px 3px 5px 3px;
}
#dvrNews .news-date { 
	text-align:left; 
	font-size:0.7em; 
	color:#777; 
	margin-bottom:10px;
}
#dvrNews .news-text a { border:none; }
#dvrNews .news-title { 
	text-align:left; 
	font-size:1.3em; 
	margin-bottom:3px; 
}
#dvrNews .news-text	{ font-size:0.8em }
#dvrNews .news-text div.blockquote { 
	display: block; 
	border:1px dashed #ddd; 
	padding:10px; 
}
#dvrNews .news-text p.citation 		{ 
	font-size:0.7em; 
	color:#333; 
}
#dvrNews .news-text hr { 
	width:100%; 
	height:2px; 
	background-color: #000; 
	border:0px; 
	margin: 20px 0 25px 0; 
}
#dvrNews .news-text ul { list-style:none; }

/*log-styles*/
#dvrlog								{ width:600px; height:500px; overflow:auto; border:2px solid #eee; margin-top:10px; }
#dvrlog div 						{ width: 100%; padding:3px 0px 3px 0px;}
#dvrlog div.bg 						{ background-color:#bbb; }
#logControls 						{ display:block; padding:5px; }
.downloadDebuggingInfo 				{ padding:2px; color:green; background-color:#eFe; border:1px dotted #3f3; float:right; margin-right:15px; }
.downloadDebuggingInfo:hover		{ background-color:#aFa;  }

/*devices*/
#dvrCard 															{ border: 1px solid #ddd; -moz-border-radius: 5px; -webkit-border-radius: 5px; width:auto; padding:10px 10px 10px 10px; margin:10px 0 10px 0; }
#dvrCard .cardHeader 												{ cursor:pointer; font-size:1.2em; padding-left:35px; color:#000; line-height:30px; background:url("/img/icons/dvr_card.png") no-repeat; background-position:left; }
#dvrCard .cardHeader:hover 											{ color:#666;  }
#dvrCard #cardInfo 													{ padding:3px; margin:5px 0 5px 0; border:1px solid #ccc; margin:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#dvrCard #unusedCapacity 											{ font-weight:bold; display:inline; }
#dvrCard #unusedCapacity:hover										{ cursor:help; }
#dvrCard .cardEncoding 												{ display:inline; font-weight:bold; text-decoration:none; }
#localDevice, #ipDevice												{ position:relative; background-position:right top; background-repeat:no-repeat; float:left; background-color:#fefefe; border:1px solid #f2f2f2; width: 270px; margin:5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:5px; }
#localDevice .name, #ipDevice .name									{ width:auto; cursor:pointer; font-size:1.2em; color:#555; padding-left:35px; line-height:30px; }
#localDevice .name 													{ background:url("/img/icons/bnc.png") no-repeat; background-position:left;}
#ipDevice a, #localDevice a											{ text-decoration:none; border-bottom:1px dotted green; }
#ipDevice .name														{ background:url("/img/icons/device.png") no-repeat; background-position:left;}
#localDevice #resolutionFps 										{ background-color:#efefef; width:100%; margin: 5px 0 5px 0;}
#localDevice #resolutionFps div 									{ display:inline; }
#localDevice #cameraSettingsHeader, #ipDevice #cameraSettingsHeader { width:100%; margin: 15px 0 5px 35px; }
#localDevice a														{ margin:5px 0 5px 0; display:inline; }
#localDevice #status, #ipDevice #status 							{ display:inline; width:100%; margin:3px 10px 10px 35px; }
#localDevice .disabled, #ipDevice .disabled							{ color: red;  		}
#localDevice .OK, #ipDevice .OK										{ color: green; width:300px; }
#localDevice .notconfigured, #ipDevice .notconfigured				{ color: gray;	 	}
#localDevice  #status a, #ipDevice	#localDevice  #status			{ display:inline; 	}
#ipDevice .ipAttn													{ background: url("/img/icons/excl.png") no-repeat center top; padding-top:25px; text-align:center; color:#afafaf; position:absolute; top:10px; right:0px; display:block; width:50px; height:50px; }
#ipDevice .model, #localDevice  .portId								{ font-size:12px; font-color:#555; padding-left:35px; }
#localDevice	#port												{ background: url("/img/icons/port.png") no-repeat center top; padding-top:25px; text-align:center; color:#afafaf; position:absolute; top:5px; right:0px; display:block; width:50px; height:50px; }


/*motion|devices*/
#mmapContainer { display:inline; }
/*#cameraOutputContainer { float:left; display:inline; position:relative; }*/
#cameraOutputContainer img { position:absolute; }

/*grid*/
#gridTable 						{ 
	border-collapse:collapse; 
	position:relative; 
	z-index:5; 
}
#gridTable td { 
	opacity:0.4;
	border:1px solid gray; 
	cursor:pointer;
	user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none;  
}
#gridTable .gridColEx { 
	-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; 
	opacity:1;
	border:none; 
	cursor:default; 
	text-align:center;
	border:1px dotted black;
}
#gridTable .gridCol0 			{ background-color: transparent;   }
#gridTable .gridCol1, .gridColM { background-color: green;  }
#gridTable .gridCol2 			{ background-color: blue;   }
#gridTable .gridCol3, .gridColS { background-color: yellow; }
#gridTable .gridCol4 			{ background-color: orange; }
#gridTable .gridCol5, .gridColC { background-color: red;    }
#gridTable .gridColN 			{ background-color: black;  }

.container-separator {
	background-color:#fafafa !important; 
	border:1px solid #bbb; border-radius:5px !important;
	position:relative !important;
	margin-top:20px !important;
	padding:10px !important;
}
.container-separator .title {
	position:absolute;
	color:#666;
	font-size:0.8em;
	top:-9px;
	left:20px;
	background-color:#fff;
	display:block;
	padding:0 3px 0 3px !important;
	border:1px solid #bbb;
	border-radius:2px;
}
.container-separator .title.main {
	font-size:1.2em;
	top:-13px;
}

.container-separator#rule-date-time, .container-separator#cameras-list, .container-separator#users-list {
	background:#fff;
	border-style:dashed;
	float:left;
	margin-right:5px;
}
.container-separator#users-list select {
	width:125px;
}
#rule-date-time #day-of-week { float:left; }
#rule-date-time #day-of-week select, #cameras-list select, #users-list select { border-radius:5px; }
#rule-date-time #time{
	float:left;
	width:130px;
	padding-left:10px;
}
#rule-date-time #day-of-week select { width:100px; }
#cameras-list select { width:130px; }
#rule-date-time #time .container-separator, #rule-date-time #day-of-week select, #cameras-list select, #users-list select {
	background-color:#f2f2fa;
}
#rule-date-time #time .container-separator#start{ margin-top:10px; }
#existing-rules-container #existing-rule {
	background:#f2f2fa;
}
#existing-rules-container #existing-rule table.disabled {
	opacity:0.3;
}
#existing-rules-container #existing-rule table {
	border-collapse:collapse;
}
#existing-rules-container #existing-rule td {
	border:1px solid gray;
	
}
#existing-rules-container #existing-rule td.cont {
	width:500px;
}
#existing-rules-container #existing-rule td.desc {
	width:120px;
	text-align:right;
}


#lvlSelect ul { 
	width:590px;
	height:25px;
	padding:13px; 
}
#lvlSelect ul li { 
	cursor: pointer; 
	margin-right:3px;
	width:80px; 
	text-align:center; 
	display:block; 
	float:left;
	border:1px solid #333; border-radius:2px;
	padding:2px; 
	position:relative; 
	padding: 2px;  
	list-style:none; 
	opacity:0.3;
	user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none;  
}
#lvlSelect ul li.on 			{ opacity:1; }
#lvlSelect ul #clearAll 		{ 
	opacity:1;
	margin-bottom:10px; 
	cursor: pointer;
	margin-top:15px;
}
#lvlSelect ul #fillAll 			{ 
	opacity:1;
	margin-bottom:10px; 
	background-color:#ccc; 
	color:#333; 
	cursor: pointer;
	margin-top:15px;
}
#lvlSelect ul #li0  			{ background-color: transparent; }
#lvlSelect ul #li1, #liM 		{ background-color: green; color:#fff; }
#lvlSelect ul #li2 				{ background-color: blue; color:#fff; }
#lvlSelect ul #li3, #liS 		{ background-color: yellow; }
#lvlSelect ul #li4  			{ background-color: orange; }
#lvlSelect ul #li5, #liC 		{ background-color: red; color:#fff; }
#lvlSelect ul #liN 				{ background-color:#000; color:#fff; }

/*videoadj*/
#liveViewContainer 						{ position:relative; display:inline; }
#videoAdjSliders						{ display: block; width:370px; }
#videoAdjSliders .control				{ float:left; height:1em; padding:5px 0 5px 0; display:block; margin:5px 0 5px 0; display: block; }
#videoAdjSliders .control input 		{ width:30px; display:inline; margin:0px 5px 0 10px; text-align:center;}
#videoAdjSliders label					{ float: left; text-align:right; display:block; width:130px; margin:5px 5px 5px 0; font-size:1em; }
#videoAdjSliders .slider				{ float: left; width:200px; background: url("/img/icons/ln.png") 0 center repeat-x; height:1em; margin:10px; }
#videoAdjSliders .slider .knob			{ height:1em; width:1em;  background: url("/img/icons/knob.png") no-repeat center center; }
#videoAdjSliders #audio_volume.control	{ margin-bottom:30px; }
#setToDefault 							{ display: block; float:left; font-size:1.2em; background-color:#ddffdd; padding:5px; border:1px dotted #afa; margin-left:120px; margin-top:20px;}
#setToDefault:hover 					{ cursor:pointer; background-color:#bbffbb; }


#addIPCamera										{ float:right; margin-bottom:10px; display:block; margin-left:10px; font-size:1em; padding:3px 10px 3px 30px; line-height:24px; background:url("/img/icons/device.png") no-repeat; background-position:3px; border:1px solid #595; background-color: #efe; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#settingsForm #addipLabel							{ width:200px; }
#settingsForm #aip									{ border:none; }
#settingsForm #aip input							{ margin:2px 0px 0px 5px; }
#settingsForm #aip #saveButton 						{ height:35px; width:150px; }
/*#settingsForm #ipAddr, #settingsForm #ipAddrMjpeg 	{ width:150px; }*/
#settingsForm #port	, #settingsForm #portMjpeg 		{ width:55px; }

#logout 		{ 
	text-align:center; 
	padding:5px; 
	margin-bottom:10px; 
}
#logout a { 
	text-decoration:none; 
	font-size:1.1em; 
	color:#933; 
}
#logout a:hover {
	color:#711;
	text-decoration:underline;
}

/*cameraperms*/
#camList div, #allButtons div { 
	cursor:pointer; 
	float:left; 
	display:block; 
	margin-left:10px; 
	width:200px; 
	height:30px; 
	padding-left:30px; 
	line-height:30px; 
	background-position:3px; 
	background-repeat:no-repeat; 
	border-radius: 5px;
}
#camList div	{ margin:10px 10px 10px 0; }
#camList .allowed, #allButtons .aa		{ border:1px solid #595; background-color: #efe; background-image:url("/img/icons/check.png"); }
#camList .nallowed, #allButtons .ra		{ border:1px solid #955; background-color: #fee; background-image:url("/img/icons/cross.png"); }

/*storage*/
#storageForm #separator { border-top:1px dotted gray; padding:10px; }
#storageForm label		{ padding:3px; margin-right:15px; }

/*ip-ptz-presets*/
#ipPtzPresets .preset { height:27px; border:1px dotted #eee; line-height:27px; vertical-align:middle; margin-top:3px; padding:1px 1px 1px 5px; }
#ipPtzPresets .preset:hover { background-color:#fafafa; cursor:pointer; }
#ipPtzPresets .preset#selected { background-color:#252; color:white; }
#ipPtzPresets .preset .name { float:left; }
#ipPtzPresets .preset #pButton { width:25px; height:25px; float:right; background-position:center center; background-repeat:no-repeat;}
#ipPtzPresets .preset #pButton.delete {  border:1px solid #955; background-color: #fee; background-image:url("/img/icons/cross.png");  }
#ipPtzPresets .preset #pButton.delete:hover { background-color:#faa; cursor:pointer; }
#ipPtzPresets .preset #pButton.edit {  border:1px solid #999; background-color: #eee; background-image:url("/img/icons/menu/edit.png"); margin-right:10px; }
#ipPtzPresets .preset #pButton.edit:hover { background-color:#aaa; cursor:pointer; }

/*devices-menu*/
#settingsMenu, #ipSettingsMenu  { border:1px solid #999; padding:0; background:#eee; width:200px; list-style-type:none; display:none; }
#settingsMenu .separator { border-bottom:1px solid #999; }
#settingsMenu li, #ipSettingsMenu li { margin:0; padding:0; }
#settingsMenu li a, #ipSettingsMenu li a { display:block; padding:5px 10px 5px 35px; width:155px; font-size:12px; text-decoration:none; font-family:tahoma,arial,sans-serif; color:#000; background-position:8px 4px; background-repeat:no-repeat; }
#settingsMenu li a:hover, #ipSettingsMenu li a:hover { background-color:#ddd; }
#settingsMenu li a.disabled, #ipSettingsMenu li a.disabled { color:#ccc; font-style:italic; }
#settingsMenu li a.disabled:hover, #ipSettingsMenu li a.disabled:hover { background-color:#eee; }
#settingsMenu li a.videoadj, #ipSettingsMenu li a.properties	{ background-image:url(/img/icons/menu/config.png); }
#settingsMenu li a.editmap, #ipSettingsMenu li a.editmap	{ background-image:url(/img/icons/menu/motion.png); }
#settingsMenu li a.ptzsettings, #ipSettingsMenu li a.ptzsettings	{ background-image:url(/img/icons/menu/ptz.png); }
#settingsMenu li a.deviceschedule, #ipSettingsMenu li a.deviceschedule	{ background-image:url(/img/icons/menu/schedule.png); }
#ipSettingsMenu li a.delete { background-image:url(/img/icons/menu/delete.png); }

/*statistics*/
#statisticsForm .dates { float:left; }
#statisticsForm .dates div { display:box; }
#statisticsForm .grouping { float:right; display:inline; }
#statisticsForm .grouping div { display:box; }
#statisticsForm .eventTypes { float:left; margin-top:10px; }
#statisticsForm .submitButton { float:right; margin-top:10px; }
#statisticsForm .submitButton input { color:#444; width:200px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
#statisticsTable { border-collapse:collapse; border:1px solid black; }
#statisticsTable tr th { border:1px solid black}
#statisticsTable tr td.primarySeparator { border-top:1px solid black; border-bottom:none; }
#statisticsTable tr td.nonSeparated { border:none; }
#statisticsTable tr td { border:1px dotted gray; border-collapse:collapse; padding:3px; }

#settingsForm #advancedSettings { display:none; border:none; padding:0px; }
#settingsForm #advancedSettingsSwitch { color:green; padding:3px; cursor:pointer; border:none; }
.enableAll { display:inline; color:green; border-bottom:1px dotted gray; cursor:pointer; }
#updatelist { border-bottom:1px dotted gray; width:auto; display:inline; color:green; cursor:pointer; }


#notifications #button.add-rule-button { 
	float:right;
	border:1px solid #595; 
	background-color: #efe; 
	background-image:url("/img/icons/add_rule.png");
}
#notifications #button.add-rule-button:hover { 
	background-color:#ada; 
	cursor:pointer;
}

/*database backlup and restore*/

#backup-container .container-separator, #restore-container .container-separator {
	background-color:#f2f2fa !important;
	border-style:dashed;
}
#restore-container {
	margin-top:30px !important;
	background-color:#fafffa !important;
}
#backup-container {
	background-color:#fafaff !important;
}
#backup-container input#backup-form-submt, #restore-container input#restore-form-submt {
	margin:10px;
	padding:5px;
}

/*xhrMessage classes, supercede ajaxMessage and message classes*/
.infoMessage {
	position:relative;
	padding-left:40px !important; 
	width:535px;
	margin:5px;
	background-position:5px center; background-repeat: no-repeat;
	padding:10px;
}
.infoMessage.working {
	border:1px solid #66b;
	background-color:#ccf;
	line-height:25px;
	vertical-align:middle;
	background-image:url('/img/loading-progress.gif');
}
.infoMessage.INFO {
	border:1px dashed #990; 
	background-image:url("/img/icons/excl.png"); 
	background-color:#ffc;
}
.infoMessage.OK {
	border:1px dashed #393; 
	background-image:url("/img/icons/check.png");
	background-color:#efe;
}
.infoMessage.warn, .infoMessage.F {
	border:1px dashed #933; 
	background-image:url("/img/icons/cross.png"); 
	background-color:#fee; 	
}
/*END xhrMessage*/


/*licensing*/
.add-license-container input {
	margin-top:10px;
}
.add-license-container #machine-id {
	font-weight:bold;
}

.container-separator .license {
	width:100%;
	margin-top:20px;
	border-collapse:collapse;
	border:1px solid #aaa;
}

.container-separator .license td {
	border:1px dotted #aaa;
	
}

/*HELP*/
#openHelp {
	position:absolute;
	right:3px;
	top:3px;
	width:15px; height:15px;
	display:block;
	background:url('/img/icons/help.png');
	cursor:help;
}
.tip {
	border:1px solid #06f;
	background-color:#003380;
	opacity:.9;
}
.tip-title {
	font-size:0.7em;
	font-weight:bold;
	margin:0;
	color:#fff;
	padding:10px;
}
